name: deploy
on:
  pull_request:
    branches: [ "main" ]

jobs:
  # prepare-environment:
  #   runs-on: self-hosted
  #   steps:
  #     - name: Stop and remove containers, networks
  #       run: cd other_calculator && docker-compose down
  #     - name: Remove unused data
  #       run: docker system prune -a -f
  deploy:
    runs-on: self-hosted
    # needs: prepare-environment
    steps:
      - name: clone
        run: git clone https://github.com/IgorKolotushkin/other_calculator.git
      - name: docker-compose
        run: cd other_calculator && docker-compose up --build -d
