# name: deploy
# on:
#   pull_request:
#     branches: [ "main" ]

# jobs:
#   prepare-environment:
#     runs-on: self-hosted
#     steps:
#       - name: Stop and remove containers, networks
#         run: cd other_calculators && docker-compose down
#       - name: Remove unused data
#         run: docker system prune -a -f
#   deploy:
    # runs-on: self-hosted
    # needs: prepare-environment
    # steps:
    #   - name: delete rep
    #     run: rm -r other_calculators
    #   - name: clone
    #     run: git clone https://github.com/IgorKolotushkin/other_calculators.git
    #   - name: docker-compose
    #     run: cd other_calculators && docker-compose up --build -d
